{% extends "pumas/base.html"%}
{% block title %} Projects {%  endblock %}
{% load static %}

{% block body %}

<section class="mbr-section info2 cid-qBcZxvHfVo" id="info2-19" data-rv-view="503">

    <div class="container">
        <div class="row main justify-content-center">
            <div class="media-container-column col-12 col-lg-3 col-md-4">

                <div class="mbr-section-btn align-left py-4">
                    <a class="btn btn-sm btn-success display-3" href="{% url 'pumas:project-add' %}">
                        <!--<span class="mbri-upload mbr-iconfont mbr-iconfont-btn"></span>-->
                        Upload Document</a>

                    <!--<a class="btn btn-sm btn-warning-outline display-3" href="{% url 'pumas:project-add' %}">-->
                        <!--&lt;!&ndash;<span class="mbri-upload mbr-iconfont mbr-iconfont-btn"></span>&ndash;&gt;-->
                        <!--Check Plagiarism</a>-->
                </div>

            </div>
            <div class="media-container-column title col-12 col-lg-7 col-md-6"></div>
        </div>
    </div>
</section>


<section class="features16 cid-qBcW0HcjCe" id="features16-17" data-rv-view="508">

    <div class="container align-center">

        <div class="row media-row">

            <div class="team-item col-lg-3 col-md-6">
                <div class="item-image">
                    <img src="{% static 'pumas/assets/images/mbr-1-1620x1080.jpg'%}"
                         alt="" title="" media-simple="true">
                </div>

                <div class="item-caption py-3">
                    <div class="item-name px-2">
                        <p class="mbr-fonts-style display-5">
                           <strong>{{user.first_name}}&nbsp; {{user.last_name}} </strong>
                        </p>
                    </div>
                    <div class="item-role px-2">
                        <p>MSc Computer Science</p>
                    </div>
                    <div class="item-social pt-2">
                        <span class="p-1 mbr-iconfont mbr-iconfont-social mbrib-upload" style="font-size: 40px;" media-simple="true"></span>
                    </div>
                </div>
            </div>

            <!--A list of all your projects-->
            <div class="team-item col-lg-9 col-md-6">
                {% if all_documents %}

                <section class="section-table cid-qBghNVSoK8" id="table1-1b" data-rv-view="457">

                      <div class="container container-table">
                          <!--<h2 class="mbr-section-title mbr-fonts-style align-center pb-3 display-1">-->
                              <!--My Projects</h2>-->

                          <div class="table-wrapper">
                                <div class="container">
                                      <div class="row search">
                                            <!--<div class="col-md-6"></div>-->
                                            <div class="col-md-6">
                                                <div class="dataTables_filter">
                                                  <label class="searchInfo mbr-fonts-style display-7">Search:</label>
                                                  <input class="form-control input-sm" disabled="">
                                                </div>
                                            </div>
                                      </div>
                                </div>

                            <div class="container scroll">
                                  <table class="table isSearch" cellspacing="0" id="dataTables">
                                      <thead>
                                            <tr class="table-heads ">

                                                <th class="head-item mbr-fonts-style display-7">
                                                  Title</th>
                                                <th class="head-item mbr-fonts-style display-7">
                                                  Type</th>

                                                <th class="head-item mbr-fonts-style display-7">
                                                  Department
                                                </th>

                                                <th class="head-item mbr-fonts-style display-7">
                                                  Status </th>
                                            </tr>

                                      </thead>

                                        <tbody>
                                           {% for doc in all_documents %}

                                           <tr>

                                              {% if doc.status == 'approved' %}
                                                  <td>
                                                      <a  href="{% url 'pumas:project-details' doc.id %}">
                                                          {{ doc.title }}</a>
                                                  </td>

                                              {% else %}
                                                  <td><a> {{ doc.title }}</a></td>
                                              {% endif %}


                                              <td>{{ doc.type }}</td>
                                              <td>{{ doc.department }}</td>

                                              {% if doc.status == 'approved' %}
                                                 <td><i class="fa fa-check-square-o text-success " aria-hidden="true"></i>
                                                   {{ doc.status }}
                                                 </td>
                                              {% else %}
                                                 <td>
                                                     <i class="fa fa-warning text-warning" aria-hidden="true"></i>
                                                     {{ doc.status }}
                                                 </td>
                                              {% endif %}

                                           </tr>

                                           {% endfor %}


                                        </tbody>

                                  </table>
                            </div>
                                <div class="container table-info-container">
                                      <div class="row info">
                                            <div class="col-md-6">
                                                  <div class="dataTables_info mbr-fonts-style display-7">
                                                        <span class="infoBefore">Showing</span>
                                                        <span class="inactive infoRows"></span>
                                                        <span class="infoAfter">entries</span>
                                                        <span class="infoFilteredBefore">(filtered from</span>
                                                        <span class="inactive infoRows"></span>
                                                        <span class="infoFilteredAfter"> total entries)</span>
                                                  </div>
                                            </div>
                                            <div class="col-md-6"></div>
                                      </div>
                                </div>

                          </div>

                      </div>
                </section>

                {% else %}

                {% endif %}
            </div>

        </div>
    </div>

</section>



<!--<script type="text/javascript">-->

      <!--$("#dataTables").DataTable();-->

<!--</script>-->

{%  endblock %}

